*{
    font-family: Verdana;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    min-height: 100vh;
    background: linear-gradient(rgb(4, 13, 90), rgb(42, 120, 236));
}


@import 'blocks/header';
@import 'blocks/ocean';
@import 'blocks/content';
